<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="rotation" type="Smartgeek.LogRotator.Configuration.RotationSection, LogRotator"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<rotation>
		<defaultSettings compress="true" compressAfter="7" delete="true" deleteAfter="730"/>
		<!--<siteSettings>
			<siteSettings id="..." compress="..." compressAfter="..." delete="..." deleteAfter="..."/>
		</siteSettings>-->
	</rotation>
</configuration>
