<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="rotation" type="IisLogRotator.Configuration.RotationSection, IisLogRotator" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<rotation>
		<defaultSettings compress="true" compressAfter="7" delete="true" deleteAfter="730" />
		<!--<siteSettings>
			<siteSettings id="W3SVC1" compress="false" delete="true" deleteAfter="30"/>
			<siteSettings id="..." compress="..." compressAfter="..." delete="..." deleteAfter="..."/>
		</siteSettings>-->
	</rotation>
</configuration>
